.composition {
  position: relative;
  
  &__photo {
    width: 55%; /* always define the width of images in peecentages, like that it will nicely scale with the view port */
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10; /* like a base z-index */
    transition: all .2s;
    outline-offset: 2rem; /* gives space between the outline */
    
    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20 /* z-index that is higher than what we declared as the base z-index */
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }

  // .composition:hover .composition__photo:not(:hover)
}